<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Nota Bene{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="h-screen {% block backgroundColor %}bg-teal-100{% endblock %}">
        <div class="h-full gap-4 grid grid-rows-[auto_1fr]">
            {% include 'components/header.html.twig' %}

            <div>
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
