<div class="px-3 md:px-14 py-20 gap-3 flex flex-wrap justify-evenly">
    {% for note in notes %}
        {% include 'components/note/thumbnail.html.twig' with { note: note } %}
    {% endfor %}

    {% if notes|length == 0  %}
        {% include 'components/message/inform.html.twig' with { message: 'No notes found' } %}
    {% endif %}
</div>