{% extends 'layouts/base.html.twig' %}

{% block title %}
    {% if note is defined %}
        Note editing page
    {% else %}
        Note adding page
    {% endif %}
{% endblock %}

{% block body %}
    <h2 class="text-4xl text-center font-black">
        {% if note is defined %}
            Note editing page
        {% else %}
            Note adding page
        {% endif %}
    </h2>

    {{ form_start(noteEditForm, {'attr': {'class': 'py-20 gap-10 flex flex-col items-center'} }) }}
        <div class="gap-4 flex flex-col">
            {% include 'components/form/text-control.html.twig' with { 'formItem': noteEditForm.title, 'formItemLabel': 'Title' } %}
        </div>

        <div class="gap-4 flex flex-col">
            {% include 'components/form/textarea-control.html.twig' with { 'formItem': noteEditForm.content, 'formItemLabel': 'Content' } %}
        </div>

        <div class="gap-4 flex flex-col items-center">
            {% include 'components/form/choices-control.html.twig' with { 'formItem': noteEditForm.tags, 'formItemLabel': 'Tags' } %}
            
            {% if note is defined %}
                {% include 'components/button.html.twig' with { 'actionPath': path('app_tag_add', { noteId: note.id }), 'buttonText': 'Add a tag' } %}
            {% else %}
                {% include 'components/button.html.twig' with { 'actionPath': path('app_tag_add', { categoryId: categoryId }), 'buttonText': 'Add a tag' } %}
            {% endif %}
        </div>


        <div class="gap-4 flex flex-col">
            {% include 'components/form/checkbox-control.html.twig' with { 'formItem': noteEditForm.isPublic, 'formItemLabel': 'Set public' } %}
        </div>
        
        <div class="gap-4 flex items-center">
            {% if note is defined %}
                {% include 'components/form/submit.html.twig' with { 'formItem': noteEditForm.submit, 'formItemLabel': 'Edit the note' } %}
            {% else %}
                {% include 'components/form/submit.html.twig' with { 'formItem': noteEditForm.submit, 'formItemLabel': 'Add the note' } %}
            {% endif %}
        </div>
    {{ form_end(noteEditForm) }}
{% endblock %}
