{% extends 'layouts/base.html.twig' %}

{% block title %}
    {% if note is defined %}
        Edit a note
    {% else %}
        Add a note
    {% endif %}
{% endblock %}

{% block body %}
    <h2 class="text-4xl text-center font-black">
        {% if note is defined %}
            Edit a note
        {% else %}
            Add a note
        {% endif %}
    </h2>

    {{ form_start(noteCreationForm, {'attr': {'class': 'py-20 gap-10 flex flex-col items-center'} }) }}
        <div class="gap-4 flex flex-col">
            {% include 'components/form/text-control.html.twig' with { 'formItem': noteCreationForm.title, 'formItemLabel': 'Title' } %}
        </div>

        <div class="gap-4 flex flex-col">
            {% include 'components/form/text-control.html.twig' with { 'formItem': noteCreationForm.content, 'formItemLabel': 'Content' } %}
        </div>
        
        <div class="gap-4 flex items-center">
            {% if note is defined %}
                {% include 'components/form/submit.html.twig' with { 'formItem': noteCreationForm.submit, 'formItemLabel': 'Edit the note' } %}
            {% else %}
                {% include 'components/form/submit.html.twig' with { 'formItem': noteCreationForm.submit, 'formItemLabel': 'Add the note' } %}
            {% endif %}
        </div>
    {{ form_end(noteCreationForm) }}
{% endblock %}
