{% extends 'layouts/base.html.twig' %}

{% block title %}Explore{% endblock %}

{% block body %}
    <h2 class="text-4xl text-center font-black">Explore</h2>

    {% include 'components/note/collection.html.twig' with { notes: notes } %}
{% endblock %}
