{% extends 'layouts/base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <h2 class="text-4xl text-center font-black">Search</h2>

    {{ form_start(noteSearchForm, {'attr': {'class': 'pt-20 gap-10 flex flex-col items-center'} }) }}
        <div class="gap-4 flex flex-col">
            {% include 'components/form/text-control.html.twig' with { 'formItem': noteSearchForm.title, 'formItemLabel': 'Title' } %}
        </div>

        <div class="gap-4 flex flex-col">
            {% include 'components/form/text-control.html.twig' with { 'formItem': noteSearchForm.authorUsername, 'formItemLabel': 'Author' } %}
        </div>

        <div class="gap-4 flex flex-col items-center">
            {% include 'components/form/choices-control.html.twig' with { 'formItem': noteSearchForm.tags, 'formItemLabel': 'Tags', 'formItemPlaceholder': 'No tag' } %}
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="gap-4 flex flex-col">
                {% include 'components/form/checkbox-control.html.twig' with { 'formItem': noteSearchForm.onlyLikedByCurrentUser, 'formItemLabel': 'Only you liked' } %}
            </div>
        {% endif %}
        
        <div class="gap-4 flex items-center">
            {% include 'components/button.html.twig' with { 'actionPath': path('app_search'), 'buttonText': 'Reset' } %}
            {% include 'components/form/submit.html.twig' with { 'formItem': noteSearchForm.submit, 'formItemLabel': 'Search' } %}
        </div>
        
        {{ form_widget(noteSearchForm._token) }}
    {{ form_end(noteSearchForm, { render_rest: false }) }}

    {% include 'components/note/collection.html.twig' with { notes: notes } %}
{% endblock %}
