{% extends 'layouts/base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <h2 class="text-4xl text-center font-black">Search</h2>

    {% include 'components/note/collection.html.twig' with { } %}
{% endblock %}
