{% extends 'layouts/base.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
    <h2 class="text-4xl text-center font-black">Note</h2>

    <div class="px-3 md:px-14 py-20 gap-6 flex flex-col">
        <div>
            <div class="gap-4 flex items-center">
                {% include 'components/note/text/title.html.twig' with { note: note, isInCollection: true } %}
                
                <div class="gap-2 flex">
                    {% include 'components/button.html.twig' with { 'actionPath': path('app_profile'), 'buttonText': 'Like' } %}
                    {% include 'components/button.html.twig' with { 'actionPath': path('app_profile'), 'buttonText': 'Share' } %}
                </div>
            </div>

            {% include 'components/note/text/likes-count.html.twig' with { likesCount: note.getUsersLike() | length(), isInCollection: true } %}
            {% include 'components/note/tag/list.html.twig' with { isInCollection: true } %}
            {% include 'components/note/text/category.html.twig' with { category: note.getCategory(), isInCollection: true } %}
        </div>

        <div class="gap-4 flex items-center">
            {% include 'components/note/text/author.html.twig' with { author: note.getAuthor() } %}

            {% include 'components/button.html.twig' with { 'actionPath': path('app_profile'), 'buttonText': 'Profile' } %}
        </div>

        <p class="text-justify">
            {{ note.getContent() }}
        </p>

        <div class="flex justify-center">
            {% include 'components/button.html.twig' with { actionPath: path('app_profile'), buttonText: 'Edit', highlight: true } %}
        </div>
    </div>
{% endblock %}
