<ul class="gap-x-3 flex flex-wrap text-teal-900 font-medium">
    {% if isInCollection is defined and isInCollection %}
        <li class="hover:scale-y-[1.15] transform transition-transform">
            Test TODO
        </li>
        <li class="hover:scale-y-[1.15] transform transition-transform">
            Test TODO
        </li>
        <li class="hover:scale-y-[1.15] transform transition-transform">
            Test TODO
        </li>
        <li class="hover:scale-y-[1.15] transform transition-transform">
            Test TODO
        </li>
        <li class="hover:scale-y-[1.15] transform transition-transform">
            Test TODO
        </li>
    {% else %}
        <li>
            Test TODO
        </li>
        <li>
            Test TODO
        </li>
        <li>
            Test TODO
        </li>
        <li>
            Test TODO
        </li>
        <li>
            Test TODO
        </li>
    {% endif %}
</ul>