{% if isInCollection is defined and isInCollection %}
    <p class="w-fit font-medium text-teal-900 hover:scale-y-[1.15] transform transition-transform">
        {{ category.getTitle() }} (Category)
    </p>
{% else %}
    <p class="w-fit font-medium text-teal-900">
        {{ category.getTitle() }} (Category)
    </p>
{% endif %}