{% if isInCollection is defined and isInCollection %}
    <p class="text-3xl font-medium truncate">
        {{ note.getTitle() }}
    </p>
{% else %}
    <p class="text-2xl font-medium truncate">
        {{ note.getTitle() }}
    </p>
{% endif %}