<a class="px-5 text-2xl rounded-md {{ highlight is defined and highlight ? 'text-white bg-teal-900' : 'bg-teal-200' }} hover:bg-teal-400 outline-4 focus:outline outline-teal-300 transition-colors" href="{{ actionPath }}">
    {{ buttonText }}
</a>