<ul class="gap-x-3 flex flex-wrap text-teal-900 font-medium">
    <li class="hover:scale-y-[1.15] transform transition-transform">
        Test
    </li>

    <li class="hover:scale-y-[1.15] transform transition-transform">
        Test
    </li>

    <li class="hover:scale-y-[1.15] transform transition-transform">
        Test
    </li>

    <li class="hover:scale-y-[1.15] transform transition-transform">
        Test
    </li>

    <li class="hover:scale-y-[1.15] transform transition-transform">
        Test
    </li>

    <li class="hover:scale-y-[1.15] transform transition-transform">
        Test
    </li>
</ul>