{% extends 'layouts/base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <h2 class="text-4xl text-center font-black">Log in</h2>

    <form class="py-20 gap-10 flex flex-col items-center" method="post">
        <div class="gap-4 flex flex-col">
            <div>
                <label class="text-xl block font-light" for="username-input">Username</label>
                <input class="w-[13em] px-1 text-2xl rounded-xl bg-teal-200 outline-2 focus:outline outline-teal-300" type="text" value="{{ lastUsername }}" name="username" id="username-input" class="form-control" autocomplete="username" required autofocus>
            </div>

            <div>
                <label class="text-xl block font-light" for="password-input">Password</label>
                <input class="w-[13em] px-1 text-2xl rounded-xl bg-teal-200 outline-2 focus:outline outline-teal-300" type="password" name="password" id="password-input" class="form-control" autocomplete="current-password" required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="gap-4 flex flex-col items-center">
            <div class="gap-4 flex items-center">
                {% include 'components/link.html.twig' with { 'path': path('app_register'), 'linkText': 'Sign up' } %}
                
                <button class="px-5 text-2xl rounded-md text-white bg-teal-900 hover:bg-teal-400 outline-4 focus:outline outline-teal-300 transition-colors" type="submit">
                    Submit
                </button>
            </div>

            {% if error %}
                <p class="font-black text-red-700">{{ error.messageKey | trans(error.messageData, 'security') }}</p>
            {% endif %}
        </div>
    </form>
{% endblock %}
